body {
    background-image: url(images/matt-chris-pua-_aSOc5RT-8U-unsplash.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-color: RGBA(241, 241, 241, .1);
}

.body-content {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 200px;
    padding-right: 200px;
    background-color: #C4C4C4;
}

h2 {
    border: solid black 2px;
    background-color: white;
    font-weight: bold;
    text-align: center;
}

.tm-site-name {
    color: #006BE6;
}

    .tm-site-name:hover,
    .tm-site-name:focus {
        color: #00E8E8;
    }

.tm-nav li a:hover {
    background: #006BE6;
    color: #000;
}

#myTable {
    border: solid black 2px;
}

.tm-section-title {
    font-weight: bold;
}

/*Side navigation*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1001;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .9);
    overflow-x: hidden;
    padding-top: 5em;
    transition: .5s;
}

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 1.5em;
        color: #818181;
        display: block;
        transition: .3s;
    }

        .sidenav a:hover {
            color: #f1f1f1;
        }

.close-btn {
    position: absolute;
    top: 50px;
    right: 25px;
    font-size: 2.5em;
    margin-left: 50px;
}

.button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: rgba(0, 0, 0, .5);
    height: 100%;
    width: 2em;
    z-index: 1001;
    position: fixed;
    left: 0;
    top: 0;
    cursor: pointer;
}

.vertical-text {
    position: absolute;
    top: 45%;
    left: 0;
    writing-mode: vertical-lr;
    color: #fff;
    font-weight: bold;
}
