@{
    ViewBag.Title = "Home Page";
}

<h2>Final Project</h2>
<p class="text-center">
    Log-Ins
    <table id="myTable" class="justify-content-center">
        <thead>
            <tr>
                <th>Username</th>
                <th>Password</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Admin@example.com</td>
                <td>P@@ssword</td>
            </tr>
            <tr>
                <td>Manager1@example.com</td>
                <td>P@@ssword</td>
            </tr>
            <tr>
                <td>Manager2@example.com</td>
                <td>P@@ssword</td>
            </tr>
            <tr>
                <td>Emp1@example.com</td>
                <td>P@@ssword</td>
            </tr>
            <tr>
                <td>Emp2@example.com</td>
                <td>P@@ssword</td>
            </tr>
            <tr>
                <td>Emp3@example.com</td>
                <td>P@@ssword</td>
            </tr>
        </tbody>
    </table>
</p>

@section scripts {
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
}